html
  head
    title Barangay Santa Monica - One-Time Password
  body
    h1 One Time Password
    p Hi, here is your OTP code in order to access more our services.
    h2(style="color: #2c3e50;") #{otp}
    p Paalala: This OTP is only limited to 5 minutes. Do not share with anyone.
    br
    p Lubos na gumagalang,
    p Barangay Santa Monica
    p Kasama mo sa pag-unlad!
