html
  head
    title Barangay Santa Monica Portal - Verified Successfully! 
  body
    h1 Congratulations, Ka Barangay!
    p Your email address is now fully verified.
    p Maaari na po ninyong magamit ang aming mga serbisyo tulad ng:
      ul
        li Online ticketing system para sa mga nais i-report sa ating barangay 
        li Online application para sa mga kinakailangang dokumento
    p Nawa’y makatulong ang aming makabagong sistema upang maging mas mabilis ang ating serbisyo publiko.
    br
    p Lubos na gumagalang,
    p Barangay Santa Monica
    p Kasama mo sa Pag-unlad.
