div.container
  div.header
    h1 Barangay Sta. Monica's of Quezon City Portal
    p OTP Code for Registration
  div.content
    p Your OTP code is: 
      strong #{otp}
    p It will expire in 5 minutes.
  div.footer
    p If you did not request this OTP, please ignore this email.
    p &copy; #{new Date().getFullYear()} Barangay Sta. Monica. All rights reserved.
