| Your OTP code is: #{otp}. It will expire in 5 minutes.
| If you did not request this OTP, please ignore this email.
| Barangay Sta. Monica's of Quezon City Portal
| © #{new Date().getFullYear()} Barangay Sta. Monica. All rights reserved.
