html
  head
    title Welcome to Barangay Santa Monica Portal sa Quezon City
  body
    h1 Magandang Araw!
    p You are now registered sa ating website portal. We're excited to have you patungo sa bagong sistema!
    p To start using our services, please verify your email address sa ating profile.
    p Para kapag may nais na ipabatid sa ating barangay meron tayong ilulunsad na online ticketing at online application para sa mga dokumento na kailangan natin, dito lamang mismo sa ating tanggapan.
    br
    p Lubos na gumagalang, 
    p Barangay Santa Monica 
    p Kasama mo sa pag-unlad
