| Your OTP was successfully verified. Please proceed to the next process to complete registration.
| If you did not verify an OTP, please contact our support team.
| Barangay Sta. Monica's of Quezon City Portal
| © #{new Date().getFullYear()} Barangay Sta. Monica. All rights reserved.
